body{
    margin: 0;
    padding: 0;
    background: rgb(251, 255, 0);
}
.main{
    width: 300px;
    padding: 40px;
    top: 30%;
    left: 35%;
    position:absolute;
    background: rgb(255, 255, 255);
    box-shadow: 15px 15px 10px rgb(146, 151, 2);
    text-align: center;
    border-radius: 24px;
    border-style: solid;
    border-color: black;
}
.main input[type = "text"]{
    border: 0;
    color: rgb(0, 0, 0);
    background: none;
    outline: none;
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px 11px;
    width: 220px;
}
.main input[type = "text"]:hover{
    width: 260px;
    border-color:  rgb(240, 204, 4);
}
.main input[type = "button"]{
    border: 0;
    color: rgb(0, 0, 0);
    background: none;
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px 11px;
    width: 150px;
    border-radius: 24px;
    outline: none;
}
.main input[type = "button"]:hover{
    width: 190px;
    border: 2px solid rgb(240, 20, 20);
}
p{
    color: red;
    margin: auto;
}
